@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oficina</h1>
</div>

<div>
    <ul>
        <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
    </ul>
</div>
